#METAQ working folders:
finished/*
hold/*
jobs/*
log/*
priority/*
todo/*
working/*

#Set on METAQ installation:
x/batch.sh

#User job scripts:
x/q_*
x/q.*

#PBS logs, which sometimes land in the root directory.
*.OU
